*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
}

html {
    background-color: #FFF7ED;
    font-family: 'Azeret Mono Variable', monospace;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.website-icon {
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem
}

.btn {
    padding: 0.6rem 1rem 0.6rem 1rem;
    border-radius: 40px;
    border: 1px solid #121212;
    text-decoration: none;
    color: #121212;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #121212;
    color: #FFF7ED;
}

.btn-no-border {
    padding: 0.6rem 1rem 0.6rem 1rem;
    color: #121212;
    cursor: pointer;
    transition: 0.3s;
}

.btn-no-border:hover {
    opacity: 0.5;
}

.link {
    color: #121212;
    cursor: pointer;
    transition: 0.3s;
}

.link:hover {
    opacity: 0.5;
}
  
body {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid #121212;
    padding: 1rem 0rem 2rem 0rem;
    text-align: center;
}

.before-footer {
    padding: 1.4rem;
}

.home-main {
    display: flex;
    border: 1px solid #121212;
    margin-bottom: 3rem;
}

.main-col-1 {
    background-image: url(/gareth-gillespie-profile-pic.webp);
    aspect-ratio: 1/1;
    width: 40%;
    border-right: 1px solid #121212;
}

.main-col-2 {
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
}

.main-col-2, a {
    color: #121212;
}

.main-col-1, h1 {
    font-size: 4rem;
}

hr {
    margin: 1.25rem 0 1.25rem 0;
    border-top: 1px solid #121212;
}

.abt-edu-port {
    display: flex;
    gap: 3rem;
}

.about-col {
    width: 30%;
}

.edu-and-work-col {
    width: 75%;
}

.about-col h3 {
    font-weight: 800;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.work-xp-cols {
    display: flex;
    gap: 2rem;
}

.work-xp-col-1 {
    width: 40%;
}

.work-xp-col-2 {
    width: 60%;
}

.work-xp-col-2 p {
    font-size: 0.9rem;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    gap: 0.5rem;
}

.logos img {
    height: 27px;
}

.hide-desktop {
    display: none;
}

.portfolio-main {
    display: flex;
    flex-direction: column;
}

.info {
    border: 1px solid #121212;
    padding: 2rem;
    width: 60%;
    align-self: flex-end;
}

.portfolio-card {
    border: 1px solid #121212;
    padding: 2rem;
    margin-top: 2rem;
    width: 80%;
}

.portfolio-card ul {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;
    gap: 1rem;
}

.portfolio-card li {
    padding: 0.5rem 2rem;
    border: 1px solid #121212;
    border-radius: 60rem;
}

.portfolio-card h2 {
    font-size: 3rem;
}

.btn-portfolio {
    display: flex;
    text-decoration: none;
    border: 1px solid #121212;
    border-radius: 60rem;
    width: fit-content;
    padding: 0.5rem 2rem;
    transition: 0.5s;
}

.btn-portfolio:hover {
    background-color: #121212;
    color: #f2f2f2;
}

.portfolio-card-link {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.smaller-h2 {
    font-size: 1rem;
}

.tools {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    align-items: center;
}

.tools p {
    font-weight: 800;
    font-size: 1.3rem;
}

.tools ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.tools ul li {
    padding: 0.5rem 2rem;
    border: 1px solid #121212;
    border-radius: 60px;
}

.port-top {
    display: flex;
    max-width: 1200px;
    margin-top: 3rem;
    gap: 1rem;
}

.port-img-1 {
    width: 74%;
    background-repeat: no-repeat;
    object-fit: cover;
    border: 1px solid #121212;
    background-position: center;
}

.port-info-1 {
    width: 25%;
}

.port-grid {
    display: grid;
    margin-top: 3rem;
    gap: 1rem;
    row-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3rem;
}

.img-border {
    border: 1px solid #121212;
}

.column-span {
    grid-column: 1/3;
}

.column-span-1 {
    grid-column: 2/4;
}

@media only screen and (max-width: 600px) {
    .work-xp-cols {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }

    .work-xp-col-1, .work-xp-col-2, .about-col, .edu-and-work-col {
        width: 100%;
    }

    .home-main {
        flex-direction: column;
    }

    .home-main p {
        font-size: 0.8rem;
    }

    .main-col-1 {
        width: 100%;
        border-right: 0px;
        border-bottom: 1px solid #121212;
    }

    .abt-edu-port {
        flex-direction: column;
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

    .hide-desktop {
        display: flex;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .smaller-h1 {
        font-size: 2.5rem;
    }

    .portfolio-card ul {
        flex-wrap: wrap;
    }

    .portfolio-card h2 {
        font-size: 1.8rem;
    }

    .info {
        width: 80%;
        margin-top: 2rem;
    }

    .portfolio-card {
        width: 90%;
    }

    .portfolio-card li {
        font-size: 0.8rem;
    }

    .tools ul {
        flex-wrap: wrap;
    }

    .port-top {
        flex-wrap: wrap;
    }

    .port-info-1 {
        width: 100%;
    }

    .port-img-1 {
        width: 100%;
        height: auto;
        object-fit: fit;
    }

    .port-grid {
        grid-template-columns: 1fr;
    }

    .tools {
        align-items: flex-start;
    }

    .column-span, .column-span-1 {
        grid-column: auto;
    }
}