---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '@fontsource-variable/azeret-mono'
import Scroller from '../components/Scroller.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gareth Gillespie | Portfolio</title>
	</head>
	<Navigation />
	<body>
		<main class="home-main">
			<div class="main-col-1">
			</div>
			<div class="main-col-2">
				<h1>Hello!</h1>
				<p>I’m Gareth, a web and graphic designer from Northern Ireland. I’ve been pushing pixels since 2009.</p>
				<hr />
				<p>Gareth Gillespie | Graphic Designer | <a href="mailto:gareth@gillespiemedia.co.uk">gareth@gillespiemedia.co.uk</a></p>
			</div>
		</main>
		<section class="abt-edu-port margin-bottom-2">
			<div class="about-col">
				<h2>About</h2>
				<hr />
				<p class="margin-bottom">I’m Gareth, I’m a Graphic Designer & Web Designer. In my spare time, I can be found wandering mountains, being a dad, and (when the dad part is done) playing video games. My goal when I wake up each day, is to know more at the end of the day than I did at the start. I love learning, growth and pushing pixels.</p>
				<h2>Education</h2>
				<hr />
				<h3>HND Interactive Media</h3>
				<p class="margin-bottom"><em>SRC Banbridge | 2007 - 2009</em></p>
				<p class="margin-bottom">This is where I learned that using Adobe and being a creative person was a viable option for my future survival. I’ve been pushing pixels ever since.</p>
				<p><strong>Key bits I learned here:</strong></p>	
				<p>Web design</p>
				<p>Graphic Design</p>
				<p>Team Projects</p>
				<p>Working to a brief</p>
				<p class="margin-bottom">3D modelling</p>
				<h3>National Diploma in Media (Moving Image)</h3>
				<p class="margin-bottom"><em>SRC Banbridge | 2005 - 2007</em></p>
				<p class="margin-bottom">Mini DV tapes, firewires, Mac OSX, capturing tape (no downloading from an SD card), editing video from a shot log, those were the days.</p>
				<p><strong>Key bits I learned here:</strong></p>	
				<p>Video editing (Premiere Pro & Final Cut)</p>
				<p>Script Writing</p>
				<p>Storyboarding</p>
				<p>Animation (clay, stop frame & 3d)</p>
				<p class="margin-bottom">Photography (film & digital)</p>
				<h3>GCSEs (9 of them)</h3>
				<p class="margin-bottom"><em>Portadown College | 2003-2005</em></p>
				<p class="margin-bottom">Did well in History and English, got an A in those. There were other subjects too, Maths, Science (bunsen burner + magnesium = sore eyes), Technology & Design, ICT etc. Passed the lot, then went and chased my passion.</p>
				<p><strong>Key bits I learned here:</strong></p>
				<p>I’m not good at French</p>
				<p>Algebra isn't that bad</p>
				<p>Making a website in Word is not the way</p>
				<p>Being a bit of a nerd is ok (there's more than one of us)</p>
			</div>
			<div class="portfolio-grid">

			</div>
		</section>
		<div class="margin-bottom-2">
			<h3>Tools I use regularly:</h3>
			<Scroller />
		</div>
		<section class="work-xp">
			<h2>Work Experience</h2>
			<hr />
			<div class="work-xp-cols margin-bottom">
				<div class="work-xp-col-1">
					<h3>Shapeshifter Nutrition</h3>
					<p class="margin-bottom">E-Commerce Product Manager & Graphic Designer | <strong>2021 - Current</strong></p>
					<p>I am currently the resident web/graphic designer at Shapeshifter Nutrition, though I wear a few different hats. I am the main point of contact for all of our marketing efforts, promotional planning, technical help and more. Starting solo in 2021, managing social media accounts, websites and email marketing, I’ve seen the growth of the business (and the team). 
					<p><small><strong>Key Tools:</strong> Adobe, Blender, Figma, Wordpress</small></p></p>
				</div>
				<div class="work-xp-col-2">
					<p><strong>Planning marketing efforts</strong></p>
					<p class="margin-bottom">Working with the external marketing team & internal Social Media content creator, I plan promotions, and direct our course of action for paid & organic channels month to month.</p>
					<p><strong>Content creation</strong></p>
					<p class="margin-bottom">I create all of our website content (for four websites) & paid ads. Adding new products and sourcing the relevant images & generating product description content, paid ad content in multiple formats, landing pages, email marketing content and more.</p>
					<p><strong>Graphic Design</strong></p>
					<p class="margin-bottom">Shapeshifter Nutrition manages two supplement brands, Chaos Crew & Muscle Rage. I design all of the product packaging for both of these brands, as well as any promotional items (t-shirts, shakers, lifting straps to name a few).</p> 
				</div>
			</div>
			<hr />
			<div class="work-xp-cols margin-bottom">
				<div class="work-xp-col-1">
					<h3>Norbrook Laboratories</h3>
					<p class="margin-bottom">Artworker | <strong>2013 - 2021</strong></p>
					<p>Working as part of the Artwork team, I was involved in the day to day running of Norbrooks product packaging workflow. This involved working with a number of customers, from all corners of the globe, providing artwork services, helping with product launches, and design for internal communications. 
					<p><small><strong>Key Tools:</strong>Adobe CC, MS Office, Apple iMac </small></p></p>
				</div>
				<div class="work-xp-col-2">
					<p><strong>Packaging updates</strong></p>
					<p class="margin-bottom">Using the Adobe suite, I maintained and updated printed packaging for all of Norbrooks’ UK, IE and USA products. Working to Standard Operating procedures, because Norbrook is a GMP facility, every aspect of the artwork process was documented, from start to finish. </p>
					<p><strong>Templating</strong></p>
					<p class="margin-bottom">The artwork I set up on was used as the basis for the rest of the team to use as a template for Norbrooks’ global customer base.</p>
					<p><strong>Internal Communication material</strong></p>
					<p class="margin-bottom">Working with HR I helped to design internal communications for the employee handbook, employee newsletter, and material for offices and canteens.</p> 
				</div>
			</div>
			<hr />
			<div class="work-xp-cols margin-bottom">
				<div class="work-xp-col-1">
					<h3>Johnston Press Ireland</h3>
					<p class="margin-bottom">Layout Designer | <strong>2009 - 2013</strong></p>
					<p>Working for a national newspaper group, I was part of the page assembly team. Using Adobe InDesign, we laid out pages for local newspapers like the Belfast Newsletter, Portadown Times and more. This job also involved designing promotional features & inserts. 
					<p><small><strong>Key Tools:</strong>Adobe InDesign, Photoshop</small></p></p>
				</div>
				<div class="work-xp-col-2">
					<p><strong>Page layout</strong></p>
					<p class="margin-bottom">We worked with a content management system and under the instruction of the editors for each paper. As a team, we laid out copy & images on the relevant pages, working to a tight deadline, and maintaining consistent styling for each newspaper.</p>
					<p><strong>Advertorial and inserts</strong></p>
					<p class="margin-bottom">I was involved in laying out more creative aspects such as advertorial inserts, mini magazines for fashion, tourism and more. Using the Adobe suite, and content provided by our editors.</p>
				</div>
			</div>
		</section>
	</body>
	<Footer />
</html>
