---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '@fontsource-variable/azeret-mono'
import Scroller from '../components/Scroller.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<Navigation />
	<body>
		<h1>Hello!</h1>
		<p>I’m Gareth, a web and graphic designer from Northern Ireland. I’ve been pushing pixels since 2009.</p>
		<h3>Tools:</h3>
		<Scroller />
	</body>
	<Footer />
</html>
