---
import '../styles/global.css';
import '@fontsource-variable/azeret-mono'
import MainLayout from '../Layouts/MainLayout.astro';
import PortfolioCard from '../components/PortfolioCard.astro';
---

<MainLayout title='Gareth Gillespie | Portfolio' description="Check out some of my graphic design & web design portfolio">
		<main class="portfolio-main">
			<h1 class="smaller-h1">Muscle Rage</h1>
			<div class="info">
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus molestiae saepe id quod quasi magnam quidem. Repellat deserunt temporibus, ea velit quas possimus doloribus sapiente quia nulla nisi optio adipisci?</p>
			</div>
		</main>
</MainLayout>
