---
import '../styles/global.css';
import '@fontsource-variable/azeret-mono'
import MainLayout from '../Layouts/MainLayout.astro';
---

<MainLayout title='Gareth Gillespie | Resume' description="My name is Gareth Gillespie, I'm a Graphic designer from Portadown, Northern Ireland">
		<main>
			<h1>Portfolio</h1>
		</main>
</MainLayout>
