---

---
<nav aria-label="Primary">
    <div>
        <p class="website-icon"><a href="/"><img src="home.svg"></a></p>
    </div>
    <div>
        <a href="/portfolio" aria-label="My Portfolio" class="btn-no-border hide-mobile">Portfolio</a>
        <a href="mailto:gareth@gillespiemedia.co.uk" class="btn">Get in Touch</a>
    </div>
</nav>