---
import '../../styles/global.css';
import '@fontsource-variable/azeret-mono'
import MainLayout from '../../Layouts/MainLayout.astro';
---

<MainLayout title='Gareth Gillespie | Chaos Crew' description="Graphic Design, Website Design and 3D modelling for Chaos Crew">
		<main class="portfolio-main">
			<h1 class="smaller-h1">Chaos Crew</h1>
			<div class="info">
				<p>Chaos Crew is a local supplement brand based in Northern Ireland, specialising in pre-workouts, protein bars and more.</p>
			</div>
		</main>
		<section class="tools">
			<p>Tools:</p>
			<ul>
				<li>Adobe CC</li>
				<li>WordPress</li>
				<li>Affinity</li>
				<li>Klaviyo</li>
				<li>Blender</li>
			</ul>
		</section>
		<section class="port-top">
			<div class="port-img-1">
				<img src="/chaos-crew-brand-guidelines.webp" />
			</div>
			<div class="port-info-1">
				<h4>
					Branding
				</h4>
				<ul>
					<li>Undertook customer research, using first hand data from GA4, WooCommerce and Social Channels</li>
					<li>Setup clear brand guidelines and ideal customer personas</li>
					<li>Redesigned the branding, to cater to the audience, and follow the brands tone of voice</li>
					<li>Brought consistency to packaging, matching the brand guidelines, and improving technical aspects (designing in Adobe Illustrator, CMYK colour space)</li>
				</ul>
			</div>
		</section>
		<section class="port-grid">
			<div>
				<h4>
					Marketing
				</h4>
				<ul>
					<li>Enable automated email flows (Welcome new customers, recover abandoned carts, win back series)</li>
					<li>Brought consistency to email design, based on brand guidelines</li>
					<li>Segmented audiences based on ideal personas</li>
					<li>Interviewed social media content creators to grow the team and improve social media channel engagement</li>
					<li>Got in touch with external marketing teams to enhance website SEO, paid advertising, and planned campaigns with influencers & a local influencer agency to create content and promote new products</li>
				</ul>
			</div>
			<img src="/chaos-crew-email.webp" alt="" class="img-border">
			<img src="/chaos-crew-protein-bar.webp" alt="" class="img-border">
			<img src="/tracy-bring-the-chaos.webp" alt="" class="img-border">
			<img src="/chaos-crew-website.webp" alt="" class="img-border">
			<div>
				<h4>
					Web Design
				</h4>
				<ul class="last-item">
					<li>Re-designed the website in Figma, before moving to build in WordPress with the Avada theme</li>
					<li>Carried out basic SEO, adding meta descriptions & titles, ensuring all product descriptions were present, and increased word count where needed</li>
					<li>Created 3D product renders of all products using Blender, and started updating old product images</li>
				</ul>
				<a href="https://bringthechaos.com" class="btn">Check out the Website</a>
			</div>
		</section>
</MainLayout>


<style>
	.last-item {
		margin-bottom: 2rem;
	}
</style>