---
import '../../styles/global.css';
import '@fontsource-variable/azeret-mono'
import MainLayout from '../../Layouts/MainLayout.astro';
---

<MainLayout title='Gareth Gillespie | Shapeshifter Nutrition' description="Graphic Design, Website Design and 3D modelling for Shapeshifter Nutrition">
	<main class="portfolio-main">
			<h1 class="smaller-h1">Shapeshifter Nutrition</h1>
			<div class="info">
				<p>Shapeshifter Nutrition is a supplement store based in Northern Ireland, with B2B and B2C ecommerce & physical sites.</p>
			</div>
		</main>
		<section class="tools">
			<p>Tools:</p>
			<ul>
				<li>Adobe CC</li>
				<li>WordPress</li>
				<li>Affinity</li>
				<li>MailChimp</li>
			</ul>
		</section>
		<section class="port-top">
			<div class="port-img-1">
				<img src="/shapeshifter-nutrition-brand-guidelines.webp" />
			</div>
			<div class="port-info-1">
				<h4>
					Branding
				</h4>
				<ul>
					<li>Undertook customer research, using first hand data from GA4, WooCommerce and Social Channels</li>
					<li>Setup clear brand guidelines and ideal customer personas</li>
					<li>Created Customer Personas, to help plan out our target audience, segment our email audience and guide our external marketing team</li>
				</ul>
			</div>
		</section>
		<section class="port-grid">
			<div>
				<h4>
					Web Design
				</h4>
				<ul class="last-item">
					<li>Moved to a new host, after experiencing slow loading times and frequent down time with the previous host</li>
					<li>Re-designed the website in Figma, before moving to build in WordPress with the Avada theme</li>
					<li>Carried out basic SEO, adding meta descriptions & titles, ensuring all product descriptions were present, and increased word count where needed</li>
					<li>Helped to grow the team, hiring an SEO employee, and then pivoting to find a local marketing agency to fill this role when the employee moved on</li>
				</ul>
				<a href="https://shapeshifternutrition.co.uk" class="btn">Check out the Website</a>
			</div>
			<img src="/shapeshifter-nutrition-website.webp" alt="" class="img-border column-span-1">
			<img src="/shapeshifter-nutrition-emails.webp" alt="" class="img-border">
			<img src="/shapeshifter-nutrition-promo-content.webp" alt="" class="img-border">
			<div>
				<h4>
					Marketing
				</h4>
				<ul>
					<li>Enable automated email flows (Welcome new customers, recover abandoned carts, win back series)</li>
					<li>Enabled automated collection of email subscribers, with an option to opt in at checkout, or to sign up via a form</li>
					<li>Brought consistency to email design, based on brand guidelines</li>
					<li>Segmented audiences based on ideal personas</li>
					<li>Planned bi-weekly marketing emails</li>
					<li>Sourced an external agency to begin work on SEO, and work towards paid advertising</li>
					<li>Work closely with our external marketing agency, providing content for paid ads</li>
				</ul>
			</div>
			<div>
				<h4>
					Graphic Design
				</h4>
				<ul>
					<li>Flyers are placed in every order, and are designed on a monthly basis. I include QR codes on these flyers, linking back to the website, with UTM parameters added to the URL, so we can see traffic and sales that have come through as a result of a flyer</li>
					<li>Content for Ads, emails and promotional items (shakers, t-shirts etc.) created as and when required</li>
				</ul>
			</div>
			<img src="/shapeshifter-nutrition-flyer.webp" alt="" class="img-border">
			<img src="/shapeshifter-nutrition-straps.webp" alt="" class="img-border">
			
		</section>
</MainLayout>

<style>
	.last-item {
		margin-bottom: 2rem;
	}
</style>
